h1 {
    text-align: center;
}

.center {
    display: flex;
}

.center:before, .center:after {
    content: '';
    flex: 1;
}

#chart {
    width: 405px;
    height: 405px;
}

#chart + table td:nth-child(2) {
    text-align: right;
    border-right: none;
    padding-right: 0;
}


h1 a {
    text-decoration: none;
}


table {
    text-align: center;
    border-collapse: collapse;
}

td {
    padding: 5px;

    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

td.right {
    text-align: right;
}

td:last-child {
    border-right: none;
}

tr:last-child > td {
    border-bottom: none;
}


a, a:visited {
    color: black;
}
